---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About">
  <h1>About</h1>
  <p class="lede" style="color: var(--muted); font-size: 1.2rem;">
    Ben Vanderberg is a Creative Technologist with over 20 years of experience in media technologies. He is currently Executive Creative Technologist at Adobe and Director of the Creative Technology Lab.
  </p>

  <p>
    Ben's journey with creative technology started at the young age of 7 years old when his father, who was a teacher and a yearbook photographer, taught Ben how to scan in his coloring books with a scanner on a Macintosh Centris 650 and color them in using Adobe Photoshop 3.0. From there, he grew a strong interest in layout design with Aldus PageMaker, video editing with iMovie and Final Cut Pro, and animation using Macromedia Flash.
  </p>

  <p>
    Along with his passion for digital media, he also loved music. After graduating from High School, he attended the Academy of Contemporary Music in Guildford, UK, earning his diploma in Guitar Performance. 
  </p>

  <p>After music school, he attended Rochester Institute of Technology in Rochester, NY, earning his Bachelor's of Science in New Media Publishing. While there, he had the opportunity to deeply learn traditional media such as printing along with programming and development for the web. He was a member of the Open Publishing Lab, focusing on research and development of solutions in publishing including Cross Media workflows, Typography, eBooks, and other technologies.</p>

  <p>After graduating from RIT, he worked in New York City for a consulting firm called DPCI (Database Publishing Consultants Inc.), focusing on providing consulting to large publishers on publishing workflows simultaneously for print, web, and mobile. This gave him the opportunity to work deeply with companies including McGraw Hill Education, ESPN, Condé Nast, CollegeBoard, Royal Caribbean, Daily Racing Form, United Federation of Teachers, Foreign Affairs, and many others. Through this, Ben consulted with deep knowledge on technologies such as Adobe InDesign, Photoshop, Digital Publishing Suite, vjoon K4, Drupal, and many other tools.</p>
  
  <p>Ben later left DPCI to join Evolphin, a software startup focused on developing digital asset management and media asset management systems. This helped Ben work with a variety of different companies including ABC News, Univision, and many others particularly in the area of video production workflows and asset management.</p>
 
 <p>In 2014, Ben then joined Adobe as a Solutions Consultant, helping launch and grow what at the time was Adobe EchoSign, its e-signature platform. Ben was the second Solutions Consultant hired for that product, having helped grow and scale that technical expertise globally. Through that he grew extensive experience not only in legal and e-signature workflows, but also technologies such as Microsoft Power Platform, SharePoint, Salesforce, ServiceNow and many other platforms that the platform integrated with.</p>
 
 <p>In 2019, Ben moved to join the marketing team as a Technical Marketing Manager for Adobe, helping enable enterprise sales and technical teams around the world on different Adobe technologies. Ben also began speaking at many conferences including Adobe MAX, Adobe Summit, Microsoft Ignite, Microsoft Build, and many other conferences.</p>

 <p>In 2021, Ben had the opportunity to become part of the launch team to help develop and release Adobe PDF Services, a developer-centric set of APIs that help with document automation based on Acrobat technologies. Ben joined as a Technical Evangelist and promoted the technology and integrations into different applications. He was also a regular editor and contributor to the Adobe Tech Blog.
 </p>

 <p>Having experienced launching a new product at Adobe and experience in creative workflows, in 2023 Ben moved to a new Product Marketing team that would eventually become Adobe Firefly. As part of that team, Ben helped launch Adobe Firefly, Firefly Services (APIs), and Firefly Custom Models.</p>
 
 <p>In 2025, Ben was tapped to launch a new team as director called the Creative Technology Lab at Adobe, a team of creative technologists focused on creating executive demos and research into practical creative workflows using AI and Adobe technologies.</p>

</BaseLayout>
